html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: #ECEDF1;
}
@font-face {
    font-family: proximaItalicFont;
    src: url('./../fonts/proxima-nova-regular-italic.otf');
}
@font-face {
    font-family: proximaSemiboldFont;
    src: url('./../fonts/proxima-nova-semibold.otf');
}
@font-face {
    font-family: proximaNovaFont;
    src: url('./../fonts/proxima-nova.otf');
}

@font-face {
    font-family: ubuntuMediumFont;
    src: url('./../fonts/Ubuntu-M.ttf');
}

@font-face {
    font-family: ralewayLightFont;
    src: url('./../fonts/Raleway-Light.ttf');
}
@font-face {
    font-family: ralewayMediumFont;
    src: url('./../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: proximaBoldFont;
    src: url('./../fonts/proxima-nova-bold.otf');
}

@font-face {
    font-family: fontAwesomeFont;
    src: url('./../fonts/fontawesome-webfont.ttf');
}

@font-face {
    font-family: openSansFont;
    src: url('./../fonts/OpenSans-Regular.ttf');
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.bgNav{
    width: 100%;
    background-color: #344D71 !important;
    max-height: 60px;
}
.navbar-custom {
    background-color: #344D71 !important;
    border-radius: 0;
    border: none;

}
.navbar-custom a {
    margin-top: 5px;
    color: white !important;
    text-decoration: none;
    font-family: proximaSemiboldFont;
    font-size: 16px;
}
.navbar-custom li:hover{
    background-color: #6284B7;
}
.navbar-custom a:hover {
    color: #344D71;
}
.dropdown-menu {
    background-color: #344D71 !important;
}

.dropdown-menu a {
    color: white !important;
    text-decoration: none;
}

/* main contents - home page*/
.full-width-div {
    position: absolute;
    width: 100%;
    margin: 0;
    margin-left: -15px;
    margin-top: -400px;
}
.bgColor{
    position: absolute;
    list-style: none;
}
.yellowBG{
    position: relative;
    background-color: #F6B431;
    z-index: -1;
    height: 600px;
    width: 1195px;
    right: 0px;
    top: 0px;
    margin-left: 139px;
}
.divTxt{
    position: relative;
    z-index: 0;
    margin-top: 200px;
    margin-left: 650px;
}
.title{
    color: #344D71;
    font-size: 40px;
    font-family: ralewayLightFont;
    font-weight: bold;
}
.txt{
    color: white;
    font-size: 20px;
    font-family: proximaSemiboldFont;
}
.lightBlueBG{
    background-color: #83969F;
    height: 105px;
    width: 990px;
    position: absolute;
    margin-top: 260px;
    margin-left: -20px;
}
.txtSecond{
    position: absolute;
    z-index: 0;
    font-family: proximaSemiboldFont;
    font-size: 20px;
    color: white;
    white-space: pre;
    text-align: left;
    right: 200px;
    bottom: 110px;
}
.enroll{
    font-family: proximaNovaFont;
    font-size: 20px;
}
.enroll a{
    color: white;
}

div.form{
    /*float: right;*/
    margin-left:auto;
    width: 400px;
}
.form {
    position: absolute;
    background-color: #344D71;
    color: white;
    padding: 30px;
    height: 380px;
    right: 100px;
    top: -15px;
}

.callForm{
    width: 280px;
    margin-left: 30px;
    margin-top: 20px;
}
.callForm h1{
    font-family: ralewayMediumFont;
    font-size: 24px;
}
.btnCall{
    background-color: #F6B431;
    text-align: center;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.btnCall a {
    font-size: 14px;
    color: white;
    font-family: proximaSemiboldFont;
}
.callForm label{
    font-family: ubuntuMediumFont;
    font-size: 13px;
}
.txtP {
    font-family: proximaSemiboldFont;
    font-size: 14px;
}
.pTxtT {
    margin-top: 20px;
}
.container.middleBox{
    /*width: 340px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.info{
    color:#466289;
    background-color: white;
    position: relative;
    top: 364px;
    left:79px;
    height: 520px;
}
.lastInfo{
   width:414px;
}
.middle{
    color:#466289;
    position: relative;
    top: 364px;
    left:79px;
    width: 300px;
    height: 520px;
}
.middle ul{
    padding-right: 20px;
    list-style-type: circle;
    color: #F6B431;
}
.middle ul li{
    font-family: proximaNovaFont;
    font-size: 14px;
    margin-bottom: 10px;
}
.pTxt{
    font-family: proximaNovaFont;
    font-size: 14px;
}
.middle ul span {
    color: #466289;
}

.pTitle{
    font-size: 20px;
    font-family: openSansFont;
}
.arrCircle {
    color: #466289;
    font-size: 16px;
}
.blue{
    background-color: #466289;
    padding: 10px;
    margin-top: 55px;
    /*padding-bottom: 10px;*/
}
.orange{
    background-color:#F6B431;
    border: none;
    padding: 10px;
    margin-left:30px;
}

.imgDiv span, .arrCircle a{
    position: relative;
    z-index: 0;
    color: white;
    bottom: 50px;
    left:30px;
}
.imgDiv a{
    color: white;
}
.content{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnUL{
    list-style-type: none;
    color: white;
    margin: 0;
}
.btnUL li {
    display: inline-block;
    padding: 20px;
    margin: 0;

}
.btnUL li p {
    margin-left: -20px;
}
.btnUL span {
    font-size: 20px;
}
.btnTitle{
    font-size: 18px;
    font-family: proximaNovaFont;
}
.btnTxt{
    font-size: 13px;
    font-family: proximaNovaFont;
}
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutter [class*='col-sm-4']:not(:first-child),
.row.no-gutter [class*='col-sm-4']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}
.blueButtons{
    position: relative;
    top:364px;
}
.btn1{
    background-color: #3A557C;
}
.btn1 span{
    color: #283649;
}
.btn2{
    background-color: #466289;
}
.btn2 span{
    color: #283649;
}
.btn3{
background-color: #253957;
}
.btn3 span{
    color: #466289;
}
.btn4{
    background-color: #516E96;
}
.btn4 span{
    color: #283649;
}
.btn5{
    background-color: #4771AF;
}
.btn5 span{
    color: #283649;
}
.btn6{
    background-color: #3A557C;
}
.btn6 span{
    color: #283649;
}
.btnUL span{
    bottom: 50px;
}
.full-color{
    background-color: #FBFBFB;
    width: 100%;
    position: relative;
    top:364px;
    height: 64px;
    border-bottom: 1px solid lightgray;
}
.online{
    height: 100px;
}
.full-color p {
    margin-left: 100px;
    margin-top: 20px;
}
.itxt{
    font-family: proximaSemiboldFont;
    font-size: 16px;
    margin-left: 30px;
}
.row.full-color {
    margin-left: 0;
    margin-right: 0;
}
.row.full-color [class*='col-sm-4']:not(:first-child),
.row.full-color [class*='col-sm-4']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

.links{
    list-style-type: none;
}
.links p{
    font-family: proximaSemiboldFont;
    font-size: 14px;
    color: #253957;
}
.full-colors{
    position: relative;
    top: 328px;
    background-color: white;
    width: 100%;
    height: 550px;
}
.lastBox .contentPost{
    position: relative;
    top: 30px;
}
.question{
    color: #F6B431;
    font-family: proximaNovaFont;
    font-size: 16px;
}
.context{
    color: #3A557C;
    font-family: proximaNovaFont;
    font-size: 14px;
}
.date{
    font-family: proximaItalicFont;
    font-size: 14px;
    color: #B1BDCF;
}
.ulImg{
    list-style-type: none;

}
.ulImg li{
    display: inline-block;
}
.contentPostImg span {
    position: relative;
    z-index: 0;
    color: white;
    bottom: 50px;
    left:60px;
}

.line {
    border-left: 1px solid lightgrey;
}
.heading {
    font-family: proximaSemiboldFont;
    font-size: 18px;
    color: #F6B431;
}
.player{

    position: relative;
    left: 40px;
    bottom: 60px;
    color: white;
}
.playTxt{
    position: relative;
    left:70px;
    bottom: 33px;
    font-family: proximaSemiboldFont;
    font-size: 16px;
}
.players{

    position: relative;
    left: 10px;
    bottom: 60px;
    color: white;
}
.playTxts{
    position: relative;
    left:30px;
    bottom: 33px;
    font-family: proximaSemiboldFont;
    font-size: 16px;
}
/* footer */
footer {
    position: relative;
    top: 300px;
    background-color:#253957;
    max-height:431px;
    width: 100%;
}
.footerleft {
    margin-top:50px;
    padding:0 36px;
}
.logofooter {
    margin-bottom:10px;
    /*font-size:25px;*/
    /*color:#fff;*/
    /*font-weight:700;*/
}

.footerleft p {
    /*color:#fff;*/
    /*font-size:12px !important;*/
    /*font-family: 'Open Sans', sans-serif;*/
    margin-bottom:15px;
}
.footerleft p i {
    width:20px;
    color:#999;
}

.paddingtop-bottom {
    margin-top:50px;
}
.footer-ul {
    list-style-type:none;
    padding-left:0px;
    margin-left:2px;
}
.footer-ul li {
    line-height:29px;
    font-size:13px;
    font-family: proximaSemiboldFont;
}
.footer-ul li a {
    color:white;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.footer-ul i {
    margin-right:10px;
}
.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #F6B431;
}
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.icon-ul {
    list-style-type:none !important;
    margin:0px;
    padding:0px;
}
.icon-ul li {
    line-height:75px;
    width:100%;
    float:left;
}
.icon {
    float:left;
    margin-right:5px;
}
.itxt{

}
.copyright {
    min-height:100px;
    background-color:#7794BF;
}
.copyright p {
    text-align:left;
    padding:10px 0;
    margin-bottom:0px;
}
.heading7 {
    font-size:18px;
    font-weight:700;
    color:#F6B431;
    margin-bottom:22px;
    font-family: proximaSemiboldFont;
}
.post p {
    font-size:13px;
    color:#FFF;
    line-height:20px;
    font-family: proximaSemiboldFont;
}
.post p span {
    display:block;
}
.bottom_ul {
    list-style-type:none;
    float:right;
    margin-bottom:0px;
}
.last{
    position: relative;
    left: 100px;
}
.left{
    border-left: 1px solid #6D809A;
    height: 100%;
}
.footTxt{
    font-family: proximaSemiboldFont;
    font-size: 13px;
    color: #B1BDCF;
}
.phone{
    position: relative;
    left: 350px;
}
.orangePhone{
    height: 50px;
    width: 50px;
    background-color: #F6B431;
    margin-left: -50px;
    margin-bottom: -50px;
}
.tel{
    color: white;
    position: relative;
    font-size: 20px;
    left: 15px;
    top:15px;
}
.number{
    position: relative;
    height: 50px;
    width: 200px;
    background-color: #7794BF;
    color: white;
    font-family: proximaSemiboldFont;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}
/* media queries */
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}