<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blueBG">
            <div id="" class="">
                <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4 orangeBG">
                    <div class="logo">
                        <img src="./../images/LOGO_.PNG" alt="Image">
                    </div>
                </div>
            </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 txtt">
                    <h1 class="avalanche">AVALANCHE REPORT</h1>
                    <p class="txtContent">This application is specially developed for ski & snowboard lovers.
                        The main idea is to help users to find actual information about the snow report,
                        avalanche conditions, to have better communication, easier life, and positive emotions.
                        If you are Mountain lover and don't have enough time to research the weather, conditions
                        or current snow, but you have free time to go on the top of the mountain, here you can find
                        all necessary information. If you would like to find and participate in an event or course
                        such as Avalanche course, Splitboard & ski touring or just Backcountry event you can find
                        information about all of them in one place! If you have to organize an event and would like
                        to invite more people etc. Here is the simple solve of everything! Avalanche Report!
                        This app will help you to find the every kind of information about the mountain conditions,
                        avalanche danger, courses, and events. You can add some report of avalanche test by adding
                        pictures and description about the place, weather and the conditions. The main idea is to
                        share your experience with other people because in Bulgaria we don't have a real Avalanche
                        Bulletin. Every user can have privet account and profile.</p>
                </div>
            </div>
        </div>
</div>
</div>