<div class="container">
    <h4 class="gallery">PUBLIC AVALANCHE DANGER SCALE</h4>
    <div class="jumbotron">
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4><strong>AVALANCE HELPER</strong></h4>
            <p>The mountain is extremely beautiful during the winter season, but sometimes it hides unexpected dangers. When there is snow in the mountain, there is always an avalanche danger.
                There are hazardous avalanche conditions in almost all of the mountains in Bulgaria between December and March. Pirin is the most avalanche dangerous mountain in Bulgaria with the biggest number of constant avalanches.
                In almost all of the circus, the highest parts and the valleys of the Banderitsa, Demyanitsa, Bela river, Vlahinska, Bezbozhka, Bauvi dupki, Razlozhki and Banski Suhodol an detc there is a constant risk of avalanche during the winter.
                Some days the steep slopes are safe, some days they are unstable. 90% of avalanche victims die in slides triggered by themselves or a member of their group.
                After 35 minutes, a buried victim has only a 27 % of survival.</p>

            <img src="./../images/avalanche.png" class="danger">
            <h4 class="importants"><strong>Always be alert in case of: </strong></h4>
            <div class="box important-box">
                <ul class="unordered">
                    <li>Recent avalanches;</li>
                    <li>Signs of unstable snow as you travel;</li>
                    <li>Heavy snowfall or rain the past 24 hours;</li>
                    <li>Wind blown snow;</li>
                    <li>Significant warming or rapidly increasing temperatures;</li>
                    <li> Persistent weak layers;</li>
                </ul>
            </div>
            <h4 class="helpguide"><a href="http://safety.befsa.com/"><strong>HELPGUIDE</strong></a></h4>
            <p> <strong>Types of avalanche</strong>
                The Dry Powder Avalanche is most common in cold and dry conditions especially after a fresh snow fall. It becomes even more common after a fall of 2cm or more. The snow ride up on a cushion of air and so become airborne travelling in excess of 100mph a blast wave will be heading up the avalanche.
                The Hard Slab Avalanche formed if there is a combination of strong winds of more than 30 mph and a very cold temperature. This one is the most unassuming but deadly of avalanches. It appears solid to skiers travelling over it. The slab can be covered with fresh snow and eventually release itself in one piece but then breaks up into huge chunks of snow and ice.
                Usually detected by sudden local subsidence and dull booming noises.</p>
            <h4 class="link"><a href="http://bulguides.com/"><strong>Avalanche Help</strong></a></h4>
            <p> In most avalanche situations, any defensive action is very difficult. Movement relative to the debris is often impossible.
                However, some of the following may be useful find by visit the link. </p>
            </div>


        <div class="col-lg-6">
            <h4 class="link"><a href="http://www.bulgariaski.com/pages/avalanche-info.shtml"><strong>If caught in an Avalanche</strong></a></h4>
            <p>
            <ol>
                <li><p>Try to delay departure by plunging an ice axe into the undersurface. This may help to keep you near the top of the slide. </p></li>
                <li><p>Shout. Others may see you. </p></li>
                <li><p>Try to run to the side, or jump up-slope above the fracture. </p></li>
                <li><p>If hard slab, try to remain on top of a block. </p></li>
                <li><p>Get rid of gear; sacks, skis etc. </p></li>
                <li><p>Try to roll like a log, off the debris. </p></li>
                <li><p>Swimming motions sometimes help. </p></li>
                <li><p>As the avalanche slows down, you may be able to get some purchase on the debris. Make an effort to get to the surface, or at least get a hand through. </p></li>
            </ol>
            </p>
            <h4 class="link"><a href="http://safety.befsa.com/"><strong>Avalanche rescue</strong></a></h4>
            <p> If buried: <br>
                - Keep one hand in front of you face and try to clear/maintain an air space.<br>
                - Try to maintain space for chest expansion by taking and holding a deep breath.<br>
                - Try to avoid panic and conserve energy. Your companions are probably searching for you. </p>
            <h4 class="drug-abuse"><strong class="importants">Avalanche rescue: If you witness an avalanche burial</strong></h4>
            <div class="box important-box">
                <ul>
                    <li>Observe the victim's progress and if possible mark the point of entry and point at which last seen</li>
                    <li>Check for further avalanche danger.</li>
                    <li>Make a QUICK SEARCH of the debris surface.</li>
                    <li>Look for any signs of victims.</li>
                    <li>Listen for any sounds.</li>
                    <li>Probe the most likely burial spots.</li>
                    <li>Make a Systematic search, probing the debris with axes or poles.</li>
                    <li>Send for Help. </li>
                    <li>Keep searching until help arrives.</li>
                    <li><strong>REMEMBER</strong> you are the buried victim's only real chance of live resque.</li>
                </ul>
            </div>
            <h4 class="linkss"><a href="http://safety.befsa.com/"><strong>Avalanche</strong></a></h4>
            <p> Bansko Introduces Online Avalanche Alert Bulgaria's top ski resort of Bansko has introduced an online alert to prevent tourists from wandering off in avalanche-frequented areas. Color-coded, depending on the danger, Bansko's risky zones are publicized in hopes of avoiding tragedies, 24 hours daily newspaper reports. Currently there are five dangerous zones - "Todorka" and "Chashata", where the threat is serious and "Palashitsa", the gullies to "Vihren" chalet, and the gullies to "Damianitsa" where there is a moderate danger of avalanches. Current situation can be monitored at www.banskoski.com. In the meantime it became clear that a British businessman is planning to sponsor a school in Bansko. Nigel Hall, who planned on investing in hotels and apartments also agreed to help with the woodwork of the local boarding-school that houses many orphaned children. The cases of tourists or extreme-sensations seekers swept by avalanches have increased with the warming of the weather, and mountain rescuers and resorts are trying their best to inform everyone. Despite signs and warnings, however, some people prefer to take the untrodden paths. A couple of weeks ago three young Bulgarians were swept by an avalanche in Vitosha mountain near Sofia, and one of them lost his life.
                On Saturday six Slovak tourists also found themselves amid snowy inferno, but fortunately survived it with only mild traumas.</p>

        </div>
    </div>
</div>
<br><br>
<br><br>