<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-4 col-md-4 whiteBg"></div>
            <div class="col-sm-8 col-md-8 yellowBG">
                <div class="divTxt">
                    <h3 class="title">Reach your limits</h3>
                    <p class="txt">Learn everything about the mountain: the
                        snow & avalanche report, forecast etc.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="full-width-div">
                <img class="img-responsive" src="https://cdn.pbrd.co/images/OxnbzJidO.png">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-8 col-md-8 lightBlueBG">
                <div class="divTxt">
                    <p class="txtSecond">If ypu would like to receive interestign news from the mountain, you can
                    subscribe for our newsletter by click the link: <span class="enroll"><a href="#">Enroll Online Now</a></span> <span claa="arrow"> &#8250; </span></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 form">
                <div class="callForm">
                    <h1>Contact us Today</h1>
                    <p class="txtP">You can contact us by fill the following form below</p>
                    <div class="form-group">
                        <label>Your Name </label>
                        <input id="tb-username" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Contact Number </label>
                        <input id="tb-password" type="text" class="form-control">
                    </div>
                    <div class="btnCall">
                    <a href="#/home" class="btn btnCall" id="btn-login">CALL ME BACK &#8250;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div clas="middleBox">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4 info info1">
                    <div class="content">
                        <p class="pTitle">Avalanche safety tips </br>
                            Types of avalanche</p>
                        <p class="pTxt pTxtT">
                            The Dry Powder Avalanche is most common in cold and dry conditions especially after a fresh snow fall. It becomes even more common after
                            a fall of 2cm or more. The snow ride up on a cushion of air and so become airborne travelling in excess of 100mph a blast wave will be heading up the avalanche.
                            The Hard Slab Avalanche formed if there is a combination of strong winds of more than 30 mph and a very cold temperature. This one is the most unassuming but
                            deadly of avalanches. It appears solid to skiers travelling over it. The slab can be covered with fresh snow and eventually release itself in
                            one piece but then breaks up into huge chunks of snow and ice. Usually detected by sudden local subsidence and dull booming noises.
                            90% of avalanche victims die in slides triggered by themselves or a member of their group.
                            After 35 minutes, a buried victim has only a 27 % of survival.
                        </p>
                        <div>
                            <a href="http://www.bulgariaski.com/pages/avalanche-info.shtml" class="btn btn-primary blue" id="btn-login">READ MORE &#8250;</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 middle">
                    <div class="content">
                        <p class="pTitle">Avalanche rescue:
                            If you witness an avalanche burial:</p>
                        <ul>
                            <li><span>Observe the victim's progress and if possible mark the point of entry and point at which last seen</span></li>
                            <li><span>Check for further avalanche danger. Make a QUICK SEARCH of the debris surface.</span></li>
                            <li><span>Look for any signs of victims. Listen for any sounds.</span></li>
                            <li><span>Make a Systematic search, probing the debris with axes or poles. Send for Help.</span></li>
                            <li><span>Keep searching until help arrives. REMEMBER you are the buried victim's only real chance of live resque.</span></li>
                        </ul>
                        <div>
                            <a href="http://www.bulgariaski.com/pages/avalanche-info.shtml" class="btn btn-warning orange" id="btn-login">READ MORE &#8250;</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 info lastInfo">
                    <div class="imgDiv"><!--full-width-div-->
                        <img src="./../images/sky.PNG" class="imginfo">
                        <span><a class="arrCircle" href="#"> &#8635;</a> Hear what mountain have to say!</span>
                    </div>
                    <div class="content">
                        <p class="pTxt txtIt">
                            The mountain is extremely beautiful during the winter season, but sometimes it hides unexpected dangers.
                            When there is snow in the mountain, there is always an avalanche danger.
                            There are hazardous avalanche conditions in almost all of the mountains in Bulgaria between December and March.
                            Pirin is the most avalanche dangerous mountain in Bulgaria with the biggest number of constant avalanches.
                            In almost all of the circus, the highest parts and the valleys an detc there is a constant risk of avalanche during the winter.
                            Some days the steep slopes are safe, some days they are unstable.
                        </p>
                    </div>
                </div>
            </div>
		</div>
</div>
<div class="blueButtons">
    <div class="row no-gutter">
        <div class="col-sm-4 btn1">
            <div class=" ">
                <ul class="btnUL">
                    <li> <p class="btnTitle">Avalanche Courses</p>
                    <p class="btnTxt">Introduction to mountain conditions</p></li>
                    <li><span class="glyphicon glyphicon-search"></span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 btn2">
            <div class="">
                <ul class="btnUL">
                    <li> <p class="btnTitle">Backcountry Event</p>
                    <p class="btnTxt">Introduction to mountain conditions</p></li>
                    <li><span class="glyphicon glyphicon-search"></span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 btn3">
            <div class="">
                <ul class="btnUL">
                    <li> <p class="btnTitle">Introduction to Ski Touring</p>
                    <p class="btnTxt">Introduction to mountain conditions</p></li>
                    <li><span class="glyphicon glyphicon-search"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <div class="blueButtons">
    <div class="row no-gutter">
        <div class="col-sm-4 btn4">
            <div class="">
                <ul class="btnUL">
                    <li> <p class="btnTitle">Splitboard Courses</p>
                    <p class="btnTxt">Introduction to mountain conditions</p></li>
                    <li><span class="glyphicon glyphicon-search"></span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 btn5">
            <div class="">
                <ul class="btnUL">
                    <li><p class="btnTitle">Freeride Event</p>
                    <p class="btnTxt">Introduction to mountain conditions</p></li>
                    <li><span class="glyphicon glyphicon-search"></span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 btn6">
            <div class="">
                <ul class="btnUL">
                    <li> <p class="btnTitle">Special Offer</p>
                        <p class="btnTxt">Introduction to mountain conditions</p>
                    </li>
                    <li><span class="glyphicon glyphicon-search"></span></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="row no-gutter full-color">
        <ul class="links">
            <li><div class="col-sm-4">
                <p class="">LATEST NEWS</p>
            </div></li>
            <li class=""><div class="col-sm-4 online">
                <p class="">ONLINE SHOP</p>
            </div></li>
            <li> <div class="col-sm-4">
                <p class="">VIDEOS</p>
            </div></li>
    </ul>
</div>
    <div class="col-sm-12 col-md-12 full-colors">
        <div class="row lastBox">
                    <div class="col-sm-4"> <!--colColumn-->
                        <div class="contentPost">
                            <p class="question">Looking for experience in the mountain? Wants to know actual information about the weather!</p>
                            <p class="context">The mountain is extremely beautiful during the winter season, visit our site to lear everything about the mountain.</p>
                            <p class="date">March 8th, 2017</p>
                        </div>
                        </br>
                        <div class="contentPost ">
                            <p class="question">Looking to find cool people and to spend some time in the mountain?</p>
                            <p class="context">You can search for different courses and events throw our site.</p>
                            <p class="date">March 17th, 2017</p>
                        </div>
                    </div>
                    <div class="col-sm-4 line"> <!--colColumn-->
                        <div class="contentPost">
                            <p class="question">Looking to learn and to stay up to date with actual information obout the avalanches?</p>
                            <p class="context">This is the right place, you can find all necessary information, the courses and trainings, also to read real stories.</p>
                            <p class="date">March 22th, 2017</p>
                        </div>
                        </br>
                        <div class="contentPost">
                            <p class="question">Looking to learn all Avalanche safety tips</p>
                            <p class="context">Read our Avalanche Guide and read every day the Avalanche Bulletin.</p>
                            <p class="date">March 28th, 2017</p>
                        </div>
                    </div>
                    <div class="col-sm-4"> <!--colColumn contentPostImg-->
                        <div class="contentPostImg">
                            <div>
                              <img src="./../images/imgOne.PNG" class="">
                              <span class="itxt"> Hear what skiers have to say!</span> <!--&#8635;-->
                            </div>
                            <div>
                                <img src="./../images/imageTwo.PNG" class="">
                                <span class="itxt"> Read snowboarders stories!</span> <!--&#8635;-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<footer><!--class="navbar-fixed-bottom"-->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footerleft ">
                <h6 class="heading7">About Us</h6>
                <ul class="footer-ul">
                    <li><a href="#/bulletin"> Avalanche Bulletin</a></li>
                    <li><a href="https://www.backcountry.com/avalanche-safety"> Avalanche equipment</a></li>
                    <li><a href="http://www.slf.ch/lawinenbulletin/lawinengefahr/index_EN"> Avalanche danger</a></li>
                    <li><a href="#/about"> About us</a></li>
                    <li><a href="#"> Terms & Conditions</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Frequently Ask Questions</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom left">
                <h6 class="heading7">Information</h6>
                <ul class="footer-ul">
                    <li><a href="http://www.slf.ch/lawinenbulletin/lawinengefahr/index_EN"> Snow report</a></li>
                    <li><a href="http://bulguides.com/"> Mountain conditions</a></li>
                    <li><a href="http://www.snow-forecast.com/"> Weather forecast</a></li>
                    <li><a href="#/images"> Gallery</a></li>
                    <li><a href="#/courses"> Courses</a></li>
                    <li><a href="http://bulguides.com/"> Snow guide</a></li>
                    <li><a href="#"> Frequently Ask Questions</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom left">
                <h6 class="heading7 last">Contact Us</h6>
                <div class="post last">
                    <p>Phone: 3598 888 888</p>
                    <p>Fax: 03 8888 8889</p>
                    <p>Email : info@avalanchereport.com</p>
                    <div></div>
                    <p>Postal address </p>
                    <p>55, Milin Kamuk Street </p>
                    <p>Sofia </p>
                    <p>Bulgaria </p>
                </div>
                <div class="phone">
                    <div class="orangePhone"><span class="tel glyphicon glyphicon-earphone"></span></div><div class="number">3598 888 888</div>
                </div>
            </div>
        </div>
    </div>
    <!--footer start from here-->

    <div class="copyright"> <!--navbar-fixed-bottom-->
        <div class="container">
            <div class="col-md-12">
                <p class="footTxt"><strong>© 2017 - Avalanche report site </strong> The mountain is extremely beautiful during the winter season,
                    but sometimes it hides unexpected dangers.</br> When there is snow in the mountain, there is always an avalanche danger.</p>
            </div>
        </div>
    </div>
</footer>


<!--</div>-->