<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-4 col-md-4 whiteBg"></div>
            <div class="col-sm-8 col-md-8 yellowBG">
                <div class="divTxt">
                    <h3 class="title">Reach your limits</h3>
                    <p class="txt">Learn everything about the mountain: the
                        snow & avalanche report, forecast etc.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="full-width-div">
                <img class="img-responsive" src="https://cdn.pbrd.co/images/OxnbzJidO.png">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-8 col-md-8 lightBlueBG">
                <div class="divTxt">
                    <p class="txtSecond">If ypu would like to receive interestign news from the mountain, you can
                    subscribe for our newsletter by click the link: <span class="enroll"><a href="#">Enroll Online Now</a></span> <span claa="arrow"> &#8250; </span></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 form">
                <div class="callForm">
                    <h1>Contact us Today</h1>
                    <div class="form-group">
                        <label>Your Name </label>
                        <input id="tb-username" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Contact Number </label>
                        <input id="tb-password" type="text" class="form-control">
                    </div>
                    <div class="btnCall">
                    <a href="#/home" class="btn btnCall" id="btn-login">CALL ME BACK &#8250;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>