<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="full-width-div">
                <div class="col-xs-6 col-md-4"></div>
                <div class="col-xs-12 col-md-8 yellowBG"></div>
                <img src="https://cdn.pbrd.co/images/OvA8cd4Gw.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>