<div class="container">
    <div class="row">
        <h1 class="gallery">GALLERY</h1>
        <div class="col-md-12 col-md-offset">
            {{#images}}
            <div class="col-md-4 col-md-offset">
                <h1 class="picTitle">{{title}}</h1>
                <a><img class="img-thubnail" src="{{imageSource}}" alt=""></a>
                <p class="description">{{description}}</p>
            </div>
            {{/images}}
        </div>
    </div>
</div>