<div class="container-fluid">
    <div class="row">
        <h1 class="gallery">GALLERY</h1>
        <div class="col-xs-12">
            {{#images}}
            <div class="col-xs-4">
                <h1 class="picTitle">{{title}}</h1>
                <a><img class="img-thubnail" src="{{imageSource}}" alt=""></a>
                <p class="description">{{description}}</p>
            </div>
            {{/images}}
        </div>
    </div>
</div>