<div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>
    <div class="form-group">
        <label for="tb-username">Username: </label>
        <input id="tb-username" class="form-control" placeholder="Username">
    </div>

    <div class="form-group">
        <label for="tb-password">Password: </label>
        <input id="tb-password" type="text" class="form-control" placeholder="Password">
    </div>
    <a href="#/home" class="btn btn-warning" id="btn-login">Login</a>
</div>