<div class="col-md-4 col-md-offset-4">
    <form action="" id="register-form">
        <h1>Sign Up</h1>
        <div class="form-group">
            <label for="rg-username">Username: </label>
            <input id="rg-username" class="form-control" placeholder="Username" required>
        </div>

        <div class="form-group">
            <label for="rg-password">Password: </label>
            <input id="rg-password" type="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="rg-email">Email: </label>
            <input id="rg-email" type="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="rg-address">Address: </label>
            <input id="rg-address" class="form-control" placeholder="Address" required>
        </div>
        <div class="form-group">
            <label for="rg-phone">Phone №: </label>
            <input type="number" id="tb-phone" class="form-control" placeholder="Phone №" required>
        </div>
        <a href="#/home" type="submit" class="btn btn-danger" id="btn-register"></a>
    </form>
</div>